* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.heading {
    background-color: #7d403a;
    color: #F4D2C5;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 250px;
    width: 250px;
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
}

img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin-top: 1rem;
    background-color: #F4D2C5;
    height: 7rem;
    font-size: 2rem;
}

.msg-container {
    margin-top: 1rem;
}
#msg {
    font-size: 2rem;
    color: #F4D2C5;
    display: inline;
    background-color: #7d403a;
}

#comp-choice {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}
